image: python:3.11

stages:
  - test
  - deploy
  - announce

before_script:
  - pip install -r requirements.txt

test:
  stage: test
  script:
    - mkdocs build --strict --verbose --site-dir test
  artifacts:
    paths:
      - test
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH

pages:
  stage: deploy
  script:
    - mkdocs build --strict --verbose
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

announce:
  stage: announce
  image: python:3.11
  before_script:
    - pip install mastodon.py python-frontmatter
  script:
    - echo "Restoring cached state..."
    - if [ -f cache/post_list.txt ]; then cp cache/post_list.txt post_list.txt; fi

    - NEW_POSTS=$(python scripts/update_post_list.py)

    - if [ -n "$NEW_POSTS" ]; then python scripts/post_to_mastodon.py $NEW_POSTS; fi

    - mkdir -p cache
    - cp post_list.txt cache/post_list.txt
  cache:
    key: mastodon-state
    paths:
      - cache/post_list.txt
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH