site_name: Brian's Latest
site_url: https://blog.bufalo.me
site_dir: public

theme: 
  name: material
  icon:
    logo: fontawesome/solid/microchip

  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.indexes
    - navigation.path
    - navigation.footer
    - navigation.top
    - toc.follow

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: red
      accent: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: red
      accent: pink
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference


plugins:
  - blog:
      blog_dir: .
      blog_toc: true
      categories: true
  - search
  - tags
  - rss:
      date_from_meta:
        as_creation: "date.created"
        as_update: "date.updated"
        datetime_format: "%Y-%m-%d %H:%M:%S"
        default_time: "20:00"
        default_timezone: America/Chicago
      enabled: true
      length: 20
      match_path: "posts/*"
      url_parameters:
        utm_source: "BriansLatest"
        utm_medium: "RSS"
        utm_campaign: "feed-syndication"
      use_git: false

markdown_extensions:
  - admonition


extra:
  social:
    - icon: fontawesome/brands/mastodon
      link: https://fosstodon.org/@bmbufalo
      name: bmbufalo on Fosstodon
    - icon: fontawesome/brands/gitlab
      link: https://gitlab.com/bmbufalo
      name: bmbufalo on GitLab
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/bmbufalo
      name: bmbufalo on LinkedIn
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/bmbufalo/
      name: bmbufalo on Instagram
