---
title: "Mastodon verification"
date: 2022-11-09
updated: 2022-11-21
authors:
  - bmbufalo
original_link: https://brian.bufalo.me/2022/11/09/mastodon-verification-2/
draft: false
---
<!-- wp:paragraph -->
<p>I'm checking out <a href="https://fosstodon.org/@bmbufalo" target="_blank" rel="noreferrer noopener">Mastodon</a> and you should give me a follow over there. I'm still on Twitter for the moment and cross-post between the two sites. If you are curious, they are really similar but there are some important differences as well. The biggest being one is not owned by anyone person, the other is owned by a single person that may or may not have our best interests in mind.</p>
<!-- /wp:paragraph -->

<!-- wp:embed {"url":"https://twitter.com/bmbufalo/status/1590041521583427584?s=61\u0026t=oPWKIOVt-xkQQ1Voq5FypA","type":"rich","providerNameSlug":"twitter","responsive":true} -->
<figure class="wp-block-embed is-type-rich is-provider-twitter wp-block-embed-twitter"><div class="wp-block-embed__wrapper">
https://twitter.com/bmbufalo/status/1590041521583427584?s=61&amp;t=oPWKIOVt-xkQQ1Voq5FypA
</div></figure>
<!-- /wp:embed -->

<!-- wp:html -->
<a rel="me" href="https://fosstodon.org/@bmbufalo">My Mastodon profile</a>
<!-- /wp:html -->
