<script id="beblob-script"
        src="{% if config.extra.beblob.dev_mode %}/js/beblob.js{% else %}https://unpkg.com/beblob@{{ config.extra.beblob.version }}/dist/beblob.js{% endif %}"
        data-client-id="{{ config.extra.beblob.client_id }}"
        data-redirect-uri="https://brian.bufalo.me"
        data-project-name="{{ config.extra.beblob.project_name }}"
        data-issue-mapping-strategy="{{ config.extra.beblob.issue_mapping_strategy }}"
        data-dev-mode="{{ config.extra.beblob.dev_mode | lower }}"
        data-beblob-version="{{ config.extra.beblob.version }}"
        data-theme="dark"
        defer>
</script>